HttpDemo/HttpDemo.Android/bin
HttpDemo/HttpDemo.Android/obj
HttpDemo/HttpDemo.iOS/obj
HttpDemo/HttpDemo/bin
HttpDemo/HttpDemo/obj
HttpDemo/MessageHandlerApp.UnitTests/bin
HttpDemo/MessageHandlerApp.UnitTests/obj
HttpDemo/HttpDemo.iOS/bin
